@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: rgb(255, 133, 154);
}

main{
    display: flex;
    justify-content: center;
}
#calculator{
    background-color: #282525;
    height: 500px;
    width: 370px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px ;
    grid-gap: 10px;
    padding: 30px;
    margin: 50px;
    box-shadow: 28px 19px 11px 3px rgba(0, 0, 0, 0.2), 27px 28px 20px 1px rgba(0, 0, 0, 0.19);
}
.btn{
    background-color: #8b8b8b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 8px;
}

#disp{
    background-color:white;
    grid-column: 1/span 4;
    display: flex;
    font-size: 35px;
    align-items: center;
    border-radius: 7px;
}


#b7,#b4,#b1{
    grid-column: 1 /span 1;
}
#b8,#b5,#b2{
    grid-column: 2 /span 1;
}
#b9,#b6,#b3,#b-dot{
    grid-column: 3 /span 1;
}
#bX,#b-,#b_add,#b_equal{
    grid-column: 4 /span 1;
}
#b0{
    grid-row: 6/span 1;
    grid-column: 1/span 2;
}


#b7,#b8,#b9,#b-{
    grid-row:3 /span 1;
}
#b4,#b5,#b6,#b_add{
    grid-row:4 /span 1;
}
#b1,#b2,#b3{
    grid-row:5 /span 1;
}
#b_equal{
    grid-row:5 /span 2 ;
}

#bMC{
    font-size: 15px;
}
#bMC,#bM{
    background-color: #ff5c29;
}
#b_equal{
    background-color: #FFCC00;
}
#b_add,#b_div,#bX,#b-{
    background-color: rgb(34, 66, 104);
}


.btn:hover{
    background-color: #f8f8f8;
  color: #666666;
  /* border: 1px solid #333333; */
}